{% load static %}
{% load hadipage_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>iHadi</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'hadipage/assets/img/favicon.png'}" rel="icon">
  <link href="{% static 'hadipage/assets/img/apple-touch-icon.png'}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'hadipage/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'hadipage/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'hadipage/assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'hadipage/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'hadipage/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">


  <link href="{% static 'hadipage/assets/css/main.css'%}" rel="stylesheet">


</head>

<body>


  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <h1>iHadi<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
            {% for m in menu %}
			<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
{% endfor %}
          {% if request.user.is_authenticated %}
          <li>{{user.username}} | <a class="btn-book-a-table" href="{% url 'logout' %}">Quit</a></li>

          {% else %}
          <li>
            <a class="btn-book-a-table" href="{% url 'register' %}">Тіркелу</a></li>
          <li>
            <a class="btn-book-a-table" href="{% url 'login' %}">Кіру</a>

          {% endif %}
        </ul>
      </nav><!-- .navbar -->




    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Biz arqyly halal taǵam<br>  álemin ashyńyz!</h2>
          <p data-aos="fade-up" data-aos-delay="100"> Біз оқырмандарымызға олардың діни талаптарына сәйкес келетін ең жақсы тамақтану орындарын табуға көмектесуге тырысамыз.</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#book-a-table" class="btn-book-a-table">Pikirlerdi qarau</a>
            <a href="" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Beıneni qarau</span></a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="{% static 'hadipage/assets/img/zac.png' %}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Біз жайлы</h2>
          <p><span>Біз туралы</span> кобірек біл</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img" style="background-image: url({% static 'hadipage/assets/img/about.jpg'%}) ;" data-aos="fade-up" data-aos-delay="150">

          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Біз   оқырмандарымызға   діни    сенімдеріне    сәйкес
                келетін    дәмді    және    сапалы    тағамнан    ләззат    алатын
                орынды    таңдауға    көмектесу    үшін    әлемдегі     мейрамханалар,
                кафелер,    асханалар    және     басқа      да     орындардың     кең     шолуын    ұсынамыз.
              </p>
              <ul>
                Біздің шолуларымызда:

                <li><i class="bi bi-check2-all"></i> мәзір</li>
                <li><i class="bi bi-check2-all"></i> халал талаптарга сайкестігі</li>
                <li><i class="bi bi-check2-all"></i> қызмет сапасы</li>
                <li><i class="bi bi-check2-all"></i> мекеменің атмосферасы</li>

                және ақпараттандырылған шешім қабылдауға көмектесетін басқа да маңызды аспектілер туралы ақпарат бар.
              </ul>

            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="zoom-out">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Клиенттер </p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Жобалар</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p>Қолдау көрсету сағаттары</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p>Жұмыскерлер</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Біздің пікірлер</h2>
{% if cat_selected == 0 %}
          <p>Check Our <span>REVIEWS</span></p>
        </div>
{% else %}

        {% endif %}

{% show_categories cat_selected=cat_selected %}



        </div>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

          <div class="tab-pane fade active show" id="menu-starters">

            <div class="tab-header text-center">
              <p>Шолулар</p>


            </div>



            <div class="row gy-5">
{% for p in object_list %}
              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-1.png" class="glightbox"><img src="{{p.photo.url}}" class="menu-img img-fluid" alt=""></a>
                <h4>{{p.title}}</h4>
                <p class="ingredients">
                  {{p.content}}
                </p>

                <p class="price">
                 Сертификаттар:
                </p>
                {{p.certificate}}
                <p class="price">
                 {{p.category}}
                </p>

                <a href="{{p.get_absolute_url}} ">Толығырақ</a>
              </div><!-- Menu Item -->
  {% endfor %}
            </div>
          </div><!-- End Starter Menu Content -->
{% block content %}
{% endblock %}
          <nav class="list-pages">
            <ul>
              {% if page_obj.has_previous %}
              <li class="page-num">
                <a href="?page={{page_obj.previous_page_number}}">&lt;</a>
              </li>
              {% endif %}
              {% for p in paginator.page_range %}
              {% if page_obj.number == p %}
              <li class="page-num page-num-selected">{{p}}</li>
              {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
              <li class="page-num">
                <a href="?page={{p}}">{{p}}</a>
              </li>
              {% endif %}
              {% endfor %}
               {% if page_obj.has_next %}
              <li class="page-num">
                <a href="?page={{page_obj.next_page_number}}">&gt;</a>
              </li>
              {% endif %}
            </ul>
          </nav>
          <!--          {% if page_obg.page_range %}-->

<!--          {% endif %}-->
    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Сарапшылар</h2>
          <p>Біздін <span>Профессионалды</span> Сарапшылар</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Tumar Togyssova</h4>
                <span>Taster of food</span>
                <p>Ол 10 жылдық тәжірибесі мен ойлау объективтілігі мен болжамдарында дәлдікке ие.</p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/chefs/chefs-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/qazaqbaewa/"><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Baqdaulet Tursynkul</h4>
                <span>CEO of iHadi</span>
                <p>Ол 5 жылдық тәжірибесі мен ойлау объективтілігі мен болжамдарында дәлдікке ие.</p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/chefs/chefs-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Aigerim Madiomarova</h4>
                <span>HR of iHadi</span>
                <p>Ол 15 жылдық тәжірибесі мен ойлау объективтілігі мен болжамдарында дәлдікке ие.</p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

        </div>

      </div>
    </section><!-- End Chefs Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Мекен-жай:</h4>
            <p>
              Жандосов көшесі, 55<br>
              Қазақстан, Алматы 050002 - KZ<br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Байланыс: </h4>
            <p>
              <strong>Ұялы телефон:</strong> +7 771 771 76 79<br>
              <strong>Email:</strong> hadipage@narxoz.kz<br>
            </p>
          </div>
        </div>


        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Бізге тіркеліңіз</h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Asylkhan, Akgulim</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">us</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'hadipage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'hadipage/assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'hadipage/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'hadipage/assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'hadipage/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'hadipage/assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'hadipage/assets/js/main.js'%}"></script>

</body>

</html>